/* ==========================================================================
   Media Queries - desktop and up
   ========================================================================== */

@media (min-width: @screen-md-min) {
	
  .navbar-default{

    .container{

      .navbar-header{
        width: 970px;
        margin: 0 auto;
      }

      .navbar-collapse{

        #menu-primary-navigation-1{

          &>li{

            &>a{
            }
          }
        }
      }
    }
  }

  .wrap{
    width: 970px;
  }
}
