/* ==========================================================================
   Media Queries - desktop and up
   ========================================================================== */

@media (min-width: @screen-md-min) {
	.navbar-default .navbar-nav>li>a {
		font-size: 18px;
	}

  .navbar{
    &.down {
      .header-follow{
        display: block;
      }
      .primary-navigation {
        right: 130px;
      }
    }
  }

	.container{
	    //width:992px;
    }

	.main{
	   &>.container{
	    // width:auto;
    }
  }
  .sy-caption-wrap{
    width: 992px;
    bottom: 4em;
    left: 50%;
    margin-left: -430px;

    .sy-caption{
      p{
        /*font-size: 1.7em;*/
      }
    }
  }
  section.built-in-hero {
  //  max-height: 350px;
    height: auto;
    min-height:250px;
    #video-loop-container {
      width: 65%;
      float: left;
    }
  }
  .banner-text{
    width: 35%;
    border: 0;
    padding: 20px;
    float: right;
    /*background: #A962C8;*/
    .banner-text-inner {
      /*background: white;*/
      padding: 12px;
      display: block;
      font-size: 14px;


      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      margin-right: 20px;
      transform-style: preserve-3d;
      padding-left: 34px;
      padding-right: 34px;
    }
    position: static;
    height:auto;
  }
}
