/* ==========================================================================
   Media Queries - tablet and up
   ========================================================================== */

@media (min-width: @screen-sm-min){

  // base
  body {
    font-size: 16px;
  }
  a {

  }
  h3 {

  }
  h4{

  }

  .container{
    width: auto;
  }

  .wrap{
  .main{
    .content-container{
      .table{
        font-size: 90%;
      }
      .timeline-container{
        padding-left: 2px;
        position: relative;
        background: none;

        dl{

          div{
            /*background: #ece5dc url(../img/timeline-dot-sourcing-desktop.png) 17% top no-repeat;*/

            dt{
              background: none!important;
              width: 16%;
              padding: 10px 10px 10px 10px;
              text-align: center;
              font-size: 220%;
              font-family:'Myriad W01 Lt';
            }

            dd{
              background: none!important;
              margin-left: 18%;
              padding-top: 10px;

              div{
                background: none!important;

                .dd-left{
                  float: left;
                  width: 20%;
                  background: none!important;
                  font-family:'Myriad W01 Regular';
                }

                .dd-right{
                  margin-left: 20%;
                  background: none!important;
                }
              }
            }
          }
        }

        .timeline-bottom{
          p,li{font-size: 85%;}
        }
      }
    }

    .timeline-container-with-bottom-text{
      border-bottom: none;
    }
  }
  }

/*---------------------------side menu----------------------------------------*/
.sidebar{
  z-index: 999;
}
  .side-menu{
    list-style-type: none;
    margin-bottom: 50px;

    li{
      margin-bottom: 10px;
      line-height: 120%;

      &>a{
        font-size: 17px;
        font-family:'Myriad W01 SmBd';
        text-decoration: none;
        color: #999;

        &:hover{
          text-decoration: none;
        }

      }

      .children{
        list-style-type: none;
        padding-left: 15px;
        margin-top: 10px;

        &>li{

          &>a{
            font-family:'Myriad W01 Bd';
            font-size: 15px;
          }
        }
      }
    }
  }

/*---------------------------Section specific----------------------------------------*/
body.sitemap{
    .content-container{
      .row{
        margin-bottom: 30px;
      }
    }
  }

  body.home{

    .main-banner{

      #main-banner-text-container{
        width: 716px;
        left: 50%;
        margin-left: -358px;
        top: 17%;
        display: block;

        .main-banner-line-left{
          width: 326px;
          height: 19px;
          top: 68%;
          right: 53%;
        }

        .main-banner-line-right{
          width: 326px;
          height: 19px;
          top: 68%;
          left: 53%;
        }

        h1{
          font-size: 84.5px;
          margin-bottom: 17px;
        }

        .main-banner-text{
          width: 716px;
          margin-left: -358px;

          

          h2{
            font-size: 20px;

            strong{
              font-size: 24px;
            }
          }
          p{
            font-size: 15.6px;
            margin: 0.3em auto;
          }
        }
      }
    }

    .wrap .main{
      .content-container{
        .headline-container{
          h1{
            margin-top: 70px;
            font-size: 26px;
            padding: 0 70px;
            margin-bottom: 30px;
          }
          p{
            font-size: 22px;
          }
        }

        .progress-container{
          ul{
            li{

              strong{
                font-size: 28px;
              }

              &.last{
                background: url(../img/main-dot.png) no-repeat;
              }
            }
          }
        }

        .key-container{
          .key-matter-container{
            position: relative;
            width: 579px;
            height: 468px;

            .circle-key{
                top: 125px;
                left: 179px;
                width:217px;
                height: 217px;
                background: url(../img/main-circle-key.png) no-repeat;
                position: absolute;
                text-indent: -9999px;
            }

            .key-circle{
              position: absolute;
              text-indent: -9999px;

              a{
                display: block;
                height: 100%;
                width: 100%;
              }

              &#circle-waste{
                left:58px;
                width:156px;
                height: 165px;
                background: url(../img/main-circle-waste.png) no-repeat;
                &:hover{
                  background-position: -156px 0;
                }
              }
              &#circle-climate{
                top: 178px;
                width:183px;
                height: 120px;
                background: url(../img/main-circle-climate.png) no-repeat;
                &:hover{
                  background-position: -183px 0;
                }
              }
              &#circle-safety{
                top: 306px;
                left: 55px;
                width:164px;
                height: 163px;
                background: url(../img/main-circle-safety.png) no-repeat;
                &:hover{
                  background-position: -164px 0;
                }
              }
              &#circle-sourcing{
                left: 361px;
                width:157px;
                height: 163px;
                background: url(../img/main-circle-sourcing.png) no-repeat;
                &:hover{
                  background-position: -157px 0;
                }
              }
              &#circle-bio{
                top: 178px;
                left: 393px;
                width:187px;
                height: 117px;
                background: url(../img/main-circle-bio.png) no-repeat;
                &:hover{
                  background-position: -187px 0;
                }
              }
              &#circle-people{
                top: 306px;
                left: 358px;
                width:157px;
                height: 160px;
                background: url(../img/main-circle-people.png) no-repeat;
                &:hover{
                  background-position: -157px 0;
                }
              }
            }
          }
        }

        .acheive-container{
          .logo-container{

            table{
              width: 100%;

              td{
                vertical-align: middle;
                padding: 20px;

                .logo{
                  text-indent: -9999px;
                  margin: 0 auto;

                  &#hkaee{
                    background: url(../img/main-logo-hkaee.jpg) no-repeat;
                    width:152px;
                    height: 106px;
                  }
                  &#ftse{
                    background: url(../img/main-logo-ftse.jpg) no-repeat;
                    width:117px;
                    height: 93px;
                  }
                  &#djsi{
                    background: url(../img/main-logo-djsi.jpg) no-repeat;
                    width:229px;
                    height: 79px;
                  }
                  &#cdp{
                    background: url(../img/main-logo-cdp.gif) no-repeat;
                    width:244px;
                    height: 25px;
                  }
                  &#cdli{
                    background: url(../img/main-logo-cdli.gif) no-repeat;
                    width:200px;
                    height: 90px;
                  }
                  &#hssi{
                    background: url(../img/main-logo-hssi.png) no-repeat;
                    width:240px;
                    height: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }


  body#child-of-making-the-connection .side-menu li.current_page_item>a,
  body#child-of-making-the-connection .side-menu li a:hover{
    color: @cathay-green!important;
  }

  body#child-of-making-the-connection{
    .content-container{
      .sustainability-commitments-container{
        display: inline-block;
      }
    }
  }


  body#child-of-2013-progress .side-menu li.current_page_item>a,
  body#child-of-2013-progress .side-menu li a:hover{
    color: @progress-red!important;
  }
  body#child-of-2013-progress{
    .content-container{

      .btn-enlarge{
        display: block;
      }
    }
  }

  body#child-of-safety .side-menu li.current_page_item>a,
  body#child-of-safety .side-menu li a:hover{
    color: @safety-green!important;
  }

  body#child-of-climate-change .side-menu li.current_page_item>a,
  body#child-of-climate-change .side-menu li a:hover{
    color: @climate-blue!important;
  }

 body#child-of-climate-change{
    .content-container{
      .timeline-container{
        /*padding-left: 2px;
        position: relative;
        background: none;*/

        dl{

          div{
            background: #e7ebf9 url(../img/timeline-dot-climate-desktop.png) 17% top no-repeat;

            dt{
              /*background: none;
              width: 16%;
              padding: 10px 10px 10px 10px;
              text-align: center;
              font-size: 220%;
              font-family:'Myriad W01 Lt';*/
            }

            dd{
              /*background: none;
              margin-left: 18%;
              padding-top: 10px;*/
            }
          }
        }
      }

      .emissionsTable{
        .contentDiv{
          min-height: 142px;
        }
        .mainFigure,.fuelBurnTable .mainFigure{
          font-size: 280%;
        }
        .figure-triangle{
          top:-21px;
        }
      }

      .fuelBurnTable{
        float: left;
        margin-right: 40px;
      }
    }
 }
  

  body#child-of-waste-management .side-menu li.current_page_item>a,
  body#child-of-waste-management .side-menu li a:hover{
    color: @waste-green!important;
  }

  body#child-of-sustainable-sourcing .side-menu li.current_page_item>a,
  body#child-of-sustainable-sourcing .side-menu li a:hover{
    color: @sourcing-brown!important;
  }

  body#child-of-sustainable-sourcing{
    .content-container{
      .timeline-container{
        /*padding-left: 2px;
        position: relative;
        background: none;*/

        dl{

          div{
            background: #ece5dc url(../img/timeline-dot-sourcing-desktop.png) 17% top no-repeat;

            dt{
              /*background: none;
              width: 16%;
              padding: 10px 10px 10px 10px;
              text-align: center;
              font-size: 220%;
              font-family:'Myriad W01 Lt';*/
            }

            dd{
              /*background: none;
              margin-left: 18%;
              padding-top: 10px;*/
            }
          }
        }
      }
    }
  }

  body#child-of-biodiversity .side-menu li.current_page_item>a,
  body#child-of-biodiversity .side-menu li a:hover{
    color: @bio-purple!important;
  }

  body#child-of-our-people .side-menu li.current_page_item>a,
  body#child-of-our-people .side-menu li a:hover{
    color: @people-orange!important;
  }

  body#child-of-others .side-menu li.current_page_item>a,
  body#child-of-others .side-menu li a:hover{
    color: @others!important;
  }

  body#child-of-others{
    .content-container{
      .note{
        font-size: 0.8em;
      }
      .abbrContainer{
        dl{
          dt{
            padding-bottom: 10px!important;
            border-bottom: 1px solid @others;
            width: 15%;
          }
          dd{
            padding-top: 10px!important;
            margin-left: 15%;
          }
        }
      }
    }

  }

  body.video-gallery{

    .content-container{

      .thumbnail{
        margin-bottom: 50px;

        .caption{
          /*margin-bottom: -99979px!important;
          padding-bottom: 99999px!important;
          overflow: hidden;*/
        }
      }
    }
  }

  body.report-archive{
    .content-container{
      .reportArchiveItem:hover{background-color:#F1F1F1;}
      .reportTitle{font-family:'Myriad W01 SmBd'; color:#221F1F; padding-bottom:8px;}
      .reportThumbnail{width: inherit;float:left;margin-bottom: 0!important;}
      .reportAccess{
        float: right;
        position: absolute;
        right: 10px;
        bottom: 0;
      }
    }
  }
/*---------------------------Content page----------------------------------------*/
  .wrap{
    /*margin-top: 20px;*/
    min-height: 300px;

    .content{
      padding-top: 20px;
    }

    .main{
      .page-header{
        margin-top: 0;

        h1{
          width: 85%;
          margin-bottom: 30px;
          font-size: 30px;
          font-family: 'Myriad W01 Bd';
        }

        .title-parent{
          margin-bottom: 20px;
          font-size: 24px;
        }
      }

      .btn-share{
        float: right;
        margin-top: -55px;
      }

      .content-container{
        h2{
          font-size: 22px;
          margin-top: 40px;
        }

        h3{
          font-size: 19px;
          margin-top: 40px;
        }

        p{
          font-size: 16px;
        }

        .intro{
          font-size: 22px;
          line-height: 130%;
          /*strong{
            font-family:'Myriad W01 Regular';
            font-weight: normal;
          }*/
        }

        .caption{
          margin-top: -30px;
        }

        img{
          margin-bottom: 40px;
        }

        li{
          margin-bottom: 8px;
        }

        blockquote {
          padding: 0 0 0 17px;

          p{
            font-size: 18px;
          }
        }

        .note-container{
          p{
            font-size: 13px;
          }
          ol,ul{
            li{
              margin: 0;
            }
          }
        }

        .commitmentsBoxContainer{
          h3{
            margin-top: 0;
          }
        }

        .knowMoreContainer {
          p{
            font-size: inherit;
          }
          li{
            margin-bottom: 5px;
          }
        }

        .award-container{
          margin-bottom: 0;

          h3{
            font-size: 17px;
          }

          .row{
            padding: 0;

            div{
              padding: 10px 15px;
            }
          }

          ul{
             li{
              margin-bottom: 0;
             }
              .list-container{
                padding: 0;
              }
            }  
        }

        .list-with-h3-heading{
          font-size: 19px;
        }

        .factsheet-link{
          i{
            font-size: 14px;
          }
        }

        .highlight-container{

          &.row{

            div.col-left{
              border-right: 3px solid #fff;
              border-bottom: none;
            }
          }

          h4{
            font-size: 130%;
          }

          strong{
            font-family:'Myriad W01 Regular';
            font-weight: normal;
          }
        }

        .img-container-with-scroll{
          img{
            display: block;
            max-width: 100%;
            height: auto;
            width: 100%;
          }
        }

        .quote-photo-container{
          .quote-photo{
            padding-right: 0;
          }
          /*.quote-text:before {
            content: '';
            display: inline-block;
            height: 100%; 
            vertical-align: bottom;
          }
          .quote-text {
            display: inline-block;
            vertical-align: bottom;
           }*/
         }

         .quote-source{
            font-size: 16px;
          }

          .two-col-with-gap{
            margin-bottom: 4px;
            
            .col-left{
              padding-right: 2px;
              margin-bottom: 0
            }
            .col-right{
              padding-left: 2px;
            }
          }
      }
    }
  }

  #video-popup{
    overflow-y: auto;
    background: transparent url(../img/video-popup-overlay.png) repeat;

    .desktop-video-container{

      #embed-video-container{
        text-align: center;
        position: relative;
        margin: 0 auto;

        div{
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      #video-carousel-container{
        position: relative;
        margin: 0 auto 20px auto;
        width: 708px;

        &.no-carousel{
          text-align: center;

          #video-carousel{
            display: inline-block;

            div{
              width: 176px;
              padding: 0 8px;
              display: inline-block;
              text-align: left;

              h3,p,a{
                color: #fff;
                font-size: 75%;
                line-height: 130%;
              }
              h3{
                font-family:'Myriad W01 SmBd';
                margin-bottom: 5px;
              }
              a{
                display: block;
                /*margin-top: -10px;*/
              }
            }
          }
        }


        .slider-arrow{
          top: 40px;
          height: 34px;
          width: 34px;
          display: none;
          text-indent: -9999px;
          position: absolute;

        }

        #video-carousel-prev{
          background: transparent url(../img/arrow-left-slider.png) left center no-repeat;
          left: -30px;
        }

        #video-carousel-next{
          background: transparent url(../img/arrow-right-slider.png) right center no-repeat;
          right: -30px;
        }
        

        #video-carousel{
          margin: 20px auto 0 auto;
          width: 708px;

          .owl-item{

            div{
              padding: 0 8px;

              h3,p,a{
                color: #fff;
                font-size: 75%;
                line-height: 130%;
              }
              h3{
                font-family:'Myriad W01 SmBd';
                margin-bottom: 5px;
              }
              a{
                display: block;
                /*margin-top: -10px;*/
              }
            }
          }
        }
      }
    }
    #btn-close-video-popup{
      height: 62px;
    }
  }

  .video-banner-container{
    margin-top: 149px;

    .video-banner-text-container{
      width: 768px;
      position: absolute;
      left: 50%;
      margin-left: -364px;
      top: 50%;

      p{
        font-size: 120%;
      }

      .btn-video-watch{
        background: transparent url(../img/btn-watch-video-desktop.png) right top no-repeat;
        width: 666px;
        height: 55px;
        text-align: right;
        padding-right: 210px;
        padding-top: 16px;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        font-family: 'Myriad W01 SmBd';
        margin-left: -313px;
      }

      .btn-video-play{
        background: transparent url(../img/btn-play-video-desktop.png) right top no-repeat;
        width: 666px;
        height: 55px;
        text-align: right;
        padding-right: 240px;
        padding-top: 16px;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        font-family: 'Myriad W01 SmBd';
        margin-left: -313px;
      }

      .video-tagline{
        background: transparent url(../img/video-tagline.png) right top no-repeat;
        display: block;
      }
    }
  }

/*---------------------------main menu----------------------------------------*/
  .navbar-default{
    margin: 0;

    &.down{
      .container{
        .navbar-collapse{
          margin-top: 0;
          #menu-primary-navigation-1>li>a{
            padding: 5px 10px;
          }
        }
        .navbar-header{
          height: 60px;
          .utility-menu-container{
            margin-top: 0;
            .search-form{
              input#search{
                display: none;
              }
            }
            #menu-utility-menu{
              display: none;
            }
          }
          .top-logo{
            margin-top: 10px;
          }
        }
      }
    }

    .container{
      padding: 0;

      .navbar-collapse{
        margin-top: 14px;
        background-color: #ebebeb;
        text-align: center;
        /*height: 60px!important;*/

        #menu-primary-navigation-1{
          border: none;
          width: auto;
          float: none;
          /*display: inline-block!important;*/

          &>li{
            padding: 0;
            border: none;
            width: 10%;

            &>a{
              color: #383838;
              font-size: 14px;
              font-family: 'Myriad W01 SmBd';
              padding: 15px 10px;
              border-top: 5px solid transparent;
              -moz-transition: all 200ms;
              -webkit-transition: all 200ms;
              transition: all 200ms;
            }

            &.menu-making-the-connection{
              width: 15%;
              &.active a,&>a:hover{
                  border-top: 5px solid @cathay-green;
              }
            }
            &.menu-2013-progress{
              width: 15%;
              &.active a,&>a:hover{
                border-top: 5px solid @progress-red;
              }
            }
            &.menu-safety{
              &.active a,&>a:hover{
                border-top: 5px solid @safety-green;
              }
            }
            &.menu-climate-change{
              &.active a,&>a:hover{
                border-top: 5px solid @climate-blue;
              }
            }
            &.menu-waste-management{
              width: 15%;
              &.active a,&>a:hover{
                border-top: 5px solid @waste-green;
              }
            }
            &.menu-sustainable-sourcing{
              width: 15%;
              &.active a,&>a:hover{
                border-top: 5px solid @sourcing-brown;
              }
            }
            &.menu-biodiversity{
              &.active a,&>a:hover{
                border-top: 5px solid @bio-purple;
              }
            }
            &.menu-our-people{
              &.active a,&>a:hover{
                border-top: 5px solid @people-orange;
              }
            }
          }
        }
      }

      .navbar-header{
        padding: 0;
        width: 100%;
        float: none;
        -moz-transition: all 200ms;
        -webkit-transition: all 200ms;
        transition: all 200ms;

        .navbar-brand{
          font-size: 17px;
          color: #8c8e91;
          clear: both;
          float: right;
          margin-top: 20px;

          span{
            text-transform: uppercase;
            color: @cathay-green;
            font-family:'Myriad W01 SmBd';
            display: inline;
          }
        }

        .utility-menu-container{
          margin-top: 21px;

          #menu-utility-menu{
            float: right;

            &>li{
              &>a{
                font-size: 14px;
                text-decoration: none;
                padding: 0 8px 0 0;
                color: #000;
                margin-right: 9px;
                border-right: 1px solid #000;
                line-height: 100%;

                &:hover{
                  text-decoration: underline;
                }

                
              }

              /*&:last-of-type{
                a{
                  padding-right: 0;
                  margin-right: 0;
                  border-right:none;
                } 
              }*/
            }
          }

          #font-size-switcher{
            float: right;
            list-style-type: none;
            padding: 0;
            margin: 0;
            border-right: 1px solid #000;
            padding-right: 7px;
            margin-right: 13px;
            height: 14px;

            &>li{
              float: left;
              margin-right: 3px;

              &>a{
                text-decoration: none;
                color: #000;
                position: relative;

                &:hover{
                  text-decoration: underline;
                }

                &#fontSmall{
                  font-size: 14px;
                  top: -5px;
                }
                &#fontMid{
                  font-size: 16px;
                  top: -5px;
                }
                &#fontLarge{
                  font-size: 18px;
                  top: -7px;
                }
              }
            }
          }

          .search-form{
            float: right;

            input{
              display: none;
              /*-moz-transition: all 200ms;
              -webkit-transition: all 200ms;
              transition: all 200ms;*/
              &#search{
                display: block;
              }
            }

            .input-group-btn{
              width: auto;

              .search-submit{
                background: transparent url(../img/btn-search-desktop.png) no-repeat;
                width: 14px;
                height: 16px;
                text-indent: -9999px;
                border: none;
                margin: 0;
                padding: 0;
              }
            }
          }
        }

        .top-logo{
          width: 202px;
          height: 30px;
          background: transparent url(../img/logo.png) no-repeat;
          margin-top: 29px;
        }

        #menu-utility-menu{

        }
      }
    }
  }
/*---------------------------footer----------------------------------------*/
  footer{
    border-top: none;

    ul{
      li{
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .btn-feedback{
      display: block;
      position: absolute;
      bottom: 0;
      right: 10%;
      background-color: #5d5d5d;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 20px;
      font-family: 'Myriad W01 Bd';

      &:hover{
        background-color: #8d8f92;
      }
    }

    .copyright{
      font-size: 13px;
    }

    .bottom-btn-container{
      height: 147px;
      background-color: #ebebeb;
      position: relative;
      margin-bottom: 20px;

      .btn-download{
        position: absolute;
        right: 50%;
        text-align: right; 

        p{
          margin-left: -60px;
          margin-top: 65px;
        }
      }

      .btn-video-gallery{
        position: absolute;
        left: 47.5%;
        text-align: right; 

        p{
          margin-top: 65px;
          margin-left: 35px;
        }
      }

      div{
        top: 30px;

        p{
          font-family:'Myriad W01 SmBd';
          font-size: 15.5px;

          a{
            color: #383838;
            text-decoration: none;
          }
        }

        a{
          .fa-circle{
            color: #5d5d5d;
          }

          .fa-stack{
            font-size: 24px;
            margin-top: 7px;
            color: #fff;
          }

          &:hover{
            .fa-circle{
              color: #8d8f92;
            }
          }
        }
      }
    }
  }
/*---------------------------general----------------------------------------*/
  #shareBox{
    right: 14px;
    /*top: 63px;*/top: 74px;
    left: initial;
    padding-right: 70px;
    padding-left: 0;
  }

  /*---------------------------search----------------------------------------*/
  .navbar-default .container .navbar-header .utility-menu-container .search-form:hover{
    input.search-field{
      position: absolute;
      right: 20px;
      width: 500px;
      height: 25px;
      top: -5px;
      border-right: 0;
      display: block;
    }

    .input-group-btn{
      /*&.open{*/
        

        .search-submit{
          background-position: -21px 3px;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          background-color: #006659;
          width: 21px;
          height: 25px;
          margin-top: -5px;
          display: inline-block;
          border: 1px solid #9d9d9d;
          border-left: none;
          padding: 6px;
          margin-bottom: -4px;
        }
      //}
    }
  }
  
}