/* ==========================================================================
   Media Queries - tablet and up
   ========================================================================== */

@media (min-width: @screen-sm-min) {

  // base
  body {
    font-size: 16px;
  }
  a {

  }
  h3 {

  }
  h4{

  }

  .container{
    width: auto;
  }

/*---------------------------side menu----------------------------------------*/
  .side-menu{
    list-style-type: none;
    margin-bottom: 50px;

    li{
      margin-bottom: 10px;
      line-height: 120%;

      &>a{
        font-size: 17px;
        font-family:'Myriad W01 SmBd';
        text-decoration: none;
        color: #6d6d6d;

        &:hover{
          text-decoration: none;
        }

      }

      .children{
        list-style-type: none;
        padding-left: 15px;
        margin-top: 10px;

        &>li{

          &>a{
            font-family:'Myriad W01 Bd';
            font-size: 15px;
          }
        }
      }
    }
  }

/*---------------------------Section specific----------------------------------------*/

  body#child-of-making-the-connection .side-menu li.current_page_item>a,
  body#child-of-making-the-connection .side-menu li a:hover{
    color: @cathay-green!important;
  }

  body#child-of-2013-progress .side-menu li.current_page_item>a,
  body#child-of-2013-progress .side-menu li a:hover{
    color: @progress-red!important;
  }

  body#child-of-safety .side-menu li.current_page_item>a,
  body#child-of-safety .side-menu li a:hover{
    color: @safety-green!important;
  }

  body#child-of-climate-change .side-menu li.current_page_item>a,
  body#child-of-climate-change .side-menu li a:hover{
    color: @climate-blue!important;
  }

  body#child-of-waste-management .side-menu li.current_page_item>a,
  body#child-of-waste-management .side-menu li a:hover{
    color: @waste-green!important;
  }

  body#child-of-waste-management .side-menu li.current_page_item>a,
  body#child-of-waste-management .side-menu li a:hover{
    color: @sourcing-brown!important;
  }

  body#child-of-sustainable-sourcing{
    .content-container{
      .timeline-container{
        background-position: 18% top;
padding-left: 2px;

        dl{

          div{
            background: #ece5dc url(../img/timeline-dot-sourcing-desktop.png) 17% top no-repeat;

            &:nth-child(2n+1){
              background-color: #f8f8f8;
            }

            dt{
              background: none;
              width: 20%;
              padding: 10px 10px 10px 10px;
              text-align: center;
              font-size: 220%;

              &:nth-child(4n+1),&:nth-child(4n+2){
                background-color: transparent;
                color: #736E6E;
              }
            }

            dd{
              background: none;
              margin-left: 20%;
              padding-top: 10px;

              &:nth-child(4n+1),&:nth-child(4n+2){
                background-color: transparent;
                color: #736E6E;
              }
            }
          }
        }
      }
    }
  }
/*---------------------------Content page----------------------------------------*/
  .wrap{
    margin-top: 20px;

    .main{
      .page-header{
        margin-top: 0;

        h1{
          width: 85%;
          margin-bottom: 30px;
          font-size: 30px;
          font-family: 'Myriad W01 Bd';
        }

        .title-parent{
          margin-bottom: 20px;
          font-size: 24px;
        }
      }

      .btn-share{
        float: right;
        margin-top: -55px;
      }

      .content-container{
        h2{
          font-size: 22px;
          margin-top: 40px;
        }

        h3{
          font-size: 19px;
          margin-top: 40px;
        }

        p{
          font-size: 16px;
        }

        .intro{
          font-size: 22px;
          line-height: 130%;
          /*strong{
            font-family:'Myriad W01 Regular';
            font-weight: normal;
          }*/
        }

        .caption{
          margin-top: -30px;
        }

        img{
          margin-bottom: 40px;
        }

        li{
          margin-bottom: 8px;
        }

        blockquote {
          padding: 0 0 0 17px;

          p{
            font-size: 18px;
          }
        }

        .note-container{
          p{
            font-size: 13px;
          }
          ol,ul{
            li{
              margin: 0;
            }
          }
        }

        .commitmentsBoxContainer{
          h3{
            margin-top: 0;
          }
        }

        .knowMoreContainer {
          p{
            font-size: inherit;
          }
          li{
            margin-bottom: 5px;
          }
        }

        .award-container{
          margin-bottom: 0;

          h3{
            font-size: 17px;
          }

          .row{
            padding: 0;

            div{
              padding: 10px 15px;
            }
          }

          ul{
             li{
              margin-bottom: 0;
             }
              .list-container{
                font-size: 16px;
                padding: 0;
              }
            }  
        }

        .list-with-h3-heading{
          font-size: 19px;
        }

        .factsheet-link{
          i{
            font-size: 14px;
          }
        }

        .highlight-container{

          &.row{

            div.col-left{
              border-right: 3px solid #fff;
              border-bottom: none;
            }
          }

          h4{
            font-size: 130%;
          }

          strong{
            font-family:'Myriad W01 Regular';
            font-weight: normal;
          }
        }

        .quote-photo-container{
          .quote-photo{
            padding-right: 0;
          }
          /*.quote-text:before {
            content: '';
            display: inline-block;
            height: 100%; 
            vertical-align: bottom;
          }
          .quote-text {
            display: inline-block;
            vertical-align: bottom;
           }*/
         }

         .quote-source{
            font-size: 16px;
          }

          .two-col-with-gap{
            .col-left{
              padding-right: 2px;
              margin-bottom: 0
            }
            .col-right{
              padding-left: 2px;
            }
          }
      }
    }
  }

  .video-banner-container{
    margin-top: 149px;

    .video-banner-text-container{
      width: 768px;
      position: absolute;
      left: 50%;
      margin-left: -384px;
      top: 40%;

      p{
        font-size: 24px;
      }

      .btn-video-play{
        background: transparent url(../img/btn-show-video.png) right top no-repeat;
        width: 666px;
        height: 55px;
        text-align: right;
        padding-right: 220px;
        padding-top: 16px;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        font-family: 'Myriad W01 SmBd';
        margin-left: -313px;
      }
    }
  }

/*---------------------------main menu----------------------------------------*/
  .navbar-default{
    margin: 0;

    .container{
      padding: 0;

      .navbar-collapse{
        margin-top: 14px;
        background-color: #ebebeb;
        text-align: center;
        /*height: 60px!important;*/

        #menu-primary-navigation-1{
          border: none;
          width: auto;
          float: none;
          display: inline-block!important;

          &>li{
            padding: 0;
            border: none;

            &>a{
              color: #383838;
              font-size: 14px;
              font-family: 'Myriad W01 SmBd';
              padding: 15px 13px;
              border-top: 5px solid transparent;
            }

            &.menu-making-the-connection{
              &.active a,&>a:hover{
                  border-top: 5px solid @cathay-green;
              }
            }
            &.menu-2013-progress{
              &.active a,&>a:hover{
                border-top: 5px solid @progress-red;
              }
            }
            &.menu-safety{
              &.active a,&>a:hover{
                border-top: 5px solid @safety-green;
              }
            }
            &.menu-climate-change{
              &.active a,&>a:hover{
                border-top: 5px solid @climate-blue;
              }
            }
            &.menu-waste-management{
              &.active a,&>a:hover{
                border-top: 5px solid @waste-green;
              }
            }
            &.menu-sustainable-sourcing{
              &.active a,&>a:hover{
                border-top: 5px solid @sourcing-brown;
              }
            }
            &.menu-biodiversity{
              &.active a,&>a:hover{
                border-top: 5px solid @bio-purple;
              }
            }
            &.menu-our-people{
              &.active a,&>a:hover{
                border-top: 5px solid @people-orange;
              }
            }
          }
        }
      }

      .navbar-header{
        padding: 0;
        width: 100%;
        float: none;

        .navbar-brand{
          font-size: 17px;
          color: #8c8e91;
          clear: both;
          float: right;
          margin-top: 20px;

          span{
            text-transform: uppercase;
            color: @cathay-green;
            font-family:'Myriad W01 SmBd';
            display: inline;
          }
        }

        .utility-menu-container{
          margin-top: 21px;

          #menu-utility-menu{
            float: right;

            &>li{
              &>a{
                font-size: 14px;
                text-decoration: none;
                padding: 0 8px 0 0;
                color: #000;
                margin-right: 9px;
                border-right: 1px solid #000;
                line-height: 100%;

                &:hover{
                  text-decoration: underline;
                }

                
              }

              /*&:last-of-type{
                a{
                  padding-right: 0;
                  margin-right: 0;
                  border-right:none;
                } 
              }*/
            }
          }

          #font-size-switcher{
            float: right;
            list-style-type: none;
            padding: 0;
            margin: 0;
            border-right: 1px solid #000;
            padding-right: 7px;
            margin-right: 13px;
            height: 14px;

            &>li{
              float: left;
              margin-right: 3px;

              &>a{
                text-decoration: none;
                color: #000;
                position: relative;

                &:hover{
                  text-decoration: underline;
                }

                &#fontSmall{
                  font-size: 14px;
                  top: -5px;
                }
                &#fontMid{
                  font-size: 16px;
                  top: -5px;
                }
                &#fontLarge{
                  font-size: 18px;
                  top: -7px;
                }
              }
            }
          }

          .search-form{
            float: right;

            input{
              display: none;
            }

            .input-group-btn{
              width: auto;

              .search-submit{
                background: transparent url(../img/btn-search-desktop.png) no-repeat;
                width: 14px;
                height: 13px;
                text-indent: -9999px;
                border: none;
                margin: 0;
                padding: 0;
              }
            }
          }
        }

        .top-logo{
          width: 202px;
          height: 30px;
          background: transparent url(../img/logo.png) no-repeat;
          margin-top: 29px;
        }

        #menu-utility-menu{

        }
      }
    }
  }
/*---------------------------footer----------------------------------------*/
  footer{
    border-top: none;

    ul{
      li{
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .btn-feedback{
      display: block;
      position: absolute;
      bottom: 0;
      right: 10%;
      background-color: #5d5d5d;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 20px;
      font-family: 'Myriad W01 Bd';

      &:hover{
        background-color: #8d8f92;
      }
    }

    .copyright{
      font-size: 13px;
    }

    .bottom-btn-container{
      height: 147px;
      background-color: #ebebeb;
      position: relative;
      margin-bottom: 20px;

      .btn-download{
        position: absolute;
        right: 49%;
        text-align: right; 

        p{
          margin-left: -60px;
          margin-top: 65px;
        }
      }

      .btn-video-gallery{
        position: absolute;
        left: 50%;
        text-align: right; 

        p{
          margin-top: 65px;
          margin-left: 35px;
        }
      }

      div{
        top: 30px;

        p{
          font-family:'Myriad W01 SmBd';
          font-size: 15.5px;

          a{
            color: #383838;
            text-decoration: none;
          }
        }

        a{
          .fa-circle{
            color: #5d5d5d;
          }

          .fa-stack{
            font-size: 24px;
            margin-top: 7px;
            color: #fff;
          }

          &:hover{
            .fa-circle{
              color: #8d8f92;
            }
          }
        }
      }
    }
  }
}
