/* ==========================================================================
   Base
   ========================================================================== */
@cathay-green: #096267;
@progress-red: #a94654;
@safety-green: #9f9835;
@climate-blue: #2484c6;
@waste-green: #478e3a;
@sourcing-brown: #a27c50;
@bio-purple: #6a6078;
@people-orange: #ea8b38;


body {
  font-family:'Myriad W01 Regular';
  font-size: 14px;
  color: @gray-dark;
  padding: 0;
  margin: 0;
}

a {
  /*font-size: 16px;*/
  /*word-break: break-all;*/
  color: @cathay-green;
  text-decoration: underline;

  i {
    /*font-size: 14px;*/
    /*color: @purple;*/
    font-style: normal;
  }
  &:hover {
    color: @cathay-green;
    /*i {
      color: darken(@purple,10%);
    }*/
  }
}

p {
  line-height: 150%;
  margin-bottom: 1.2em;
  font-size: 14px;
  color: @gray-dark;
  font-family: "Myriad W01 Regular",Helvetica,Arial,sans-serif;
}

/*----------------page title--------------*/
h1{
  font-family:'Myriad W01 Bd';
  text-align: left;
  color: @cathay-green;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 10px;
}

/*----------------1st heading--------------*/
h2{
  font-family:'Myriad W01 SmBd';
  text-align: left;
  color: @cathay-green;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*----------------2nd heading--------------*/
h3 {
  font-family:'Myriad W01 SmBd';
  text-align: left;
  color: @cathay-green;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*----------------3rd heading--------------*/
h4 {
  font-family:'Myriad W01 SmBd';
  text-align: center;
  color: @gray-light;
  font-size: 15.5px;
}

h5{
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 15px;
}

.wrap{

  .main{
    position: relative;
    /*background-color: #F4F4F4;*/
  }
}

.footer{
  width: 100%;
  display:inline-block;
  padding-bottom: 20px;

  .footer-logo{
    margin-bottom: 15px;
  }
  .copyright{
    font-size: 0.7em;
    text-align: left;
  }
  img{
    display:block;
  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
}

/*---------------------------Content page----------------------------------------*/
.main{

  .page-header{
    margin: 25px 0 20px;
    padding-bottom: 0;
    color: @cathay-green;
    border-bottom: none;

    .title-parent{
      font-size: 19px;
      margin-bottom: 10px;
      color: @cathay-green;
    }
  }

  .content-container{
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

.video-banner-container{
  position: relative;
  margin-top: 95px;

  .video-banner-text-container{
    position: absolute;
    top: 27px;
    left: 15px;
    width: 40%;

    p{
      font-size: 18px;
      font-family: 'Myriad W01 Bd';
      color: #fff;
      line-height: 120%;
      margin-bottom: 0;
    }

    .btn-video-play{
      background: transparent url(../img/btn-play-video.png) no-repeat;
      width: 135px;
      height: 43px;
      display: block;
      /*text-indent: -9999px;*/
      margin-top: 10px;
      font-family: 'Myriad W01 SmBd';
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 12px 0 0 15px;
    }
  }
}

.factsheet-container{
    h3{
      font-size: 11px;
      color: #7f7f7f;
      text-transform: uppercase;
      background-color: #eeeeee;
      padding: 7px;
      margin-bottom: 5px;

      i{
        margin-left: 5px;
      }
    }
    ul{
      background-color: #eeeeee;
      list-style-type: none;
      padding: 10px 7px 3px;

      li{
        margin-bottom: 7px;
        font-size: 11px;

        a{
          color: #7f7f7f;
          text-decoration: none;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  .bottom-next-page-container{
    margin-bottom: 40px;

    i{
      color: #7a7a7a;
    }
  }

  .bottom-factsheet-container{
    margin-bottom: 20px;
  }

/*---------------------------general----------------------------------------*/
.btn-next-page{
  i{
    color: #7a7a7a;
  }
  
  &:hover{
    i{
      color: #ababab;
    }
  }
}

.btn-share{
  color: #7f7f7f;
  text-decoration: none;
  font-size: 9.8px;
  text-transform: uppercase;
  background-color: #eeeeee;
  padding: 7px;
  border-radius: 4px;

  &:hover{
    background-color: #f5f5f5;
    color: #7f7f7f;
    text-decoration: none;

    i{
      color: #7f7f7f;
    }
  }

  i{
    font-size: 14px;
    margin-left: 5px;
  }
}
.no-padding{
  padding: 0!important;
}
.popover-link{
  &:hover{
  }
}
.popover-content{
  font-size: 15px;
  word-wrap: break-word;
  a{
    font-size: 15px;
  }
}
.popover-title{
  background-color: transparent;
  border-bottom: none;
  border-radius: 0;
  display:none;
  text-indent: -9999px;
}
small, .small, .note{
  font-size: 8px;
  line-height: 130%;
  word-break: break-word;
}
.note{
  color: @gray-light;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
button.close{
  position: absolute;
  right: 10px;
  top: 5px;
}
.feature-link{font-size: 16px;}
.img-responsive{width:100%;}
.body-font-size{font-size: 15px!important;}
.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }
sup{font-size: 60%;}
.nowrap{white-space: nowrap;}