/* ==========================================================================
   Base
   ========================================================================== */
@cathay-green: #096267;
@progress-red: #a94654;
@safety-green: #9f9835;
@climate-blue: #2484c6;
@waste-green: #478e3a;
@sourcing-brown: #a27c50;
@bio-purple: #6a6078;
@people-orange: #ea8b38;
@others: #2b87a6;


body {
  font-family:'Myriad W01 Regular';
  font-size: 14px;
  color: @gray-dark;
  padding: 0;
  margin: 0;
}

i, cite, em, var, address, dfn {
  font-style: normal;
  font-family:'Myriad W01 It';
}

a {
  /*font-size: 16px;*/
  /*word-break: break-all;*/
  color: @cathay-green;
  text-decoration: underline;

  i {
    /*font-size: 14px;*/
    /*color: @purple;*/
    font-style: normal;
  }
  &:hover {
    color: @cathay-green;
    /*i {
      color: darken(@purple,10%);
    }*/
  }
}

p {
  line-height: 150%;
  margin-bottom: 1.2em;
  font-size: 14px;
  color: @gray-dark;
  font-family: "Myriad W01 Regular",Helvetica,Arial,sans-serif;
}

/*----------------page title--------------*/
h1{
  font-family:'Myriad W01 Bd';
  text-align: left;
  color: @cathay-green;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 10px;
}

/*----------------1st heading--------------*/
h2{
  font-family:'Myriad W01 SmBd';
  text-align: left;
  color: @cathay-green;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  em,i{
    font-family:'Myriad W01 SmBd It';
  }
  strong{
    font-family: 'Myriad W01 Bd';
    font-weight: normal;
  }
}

/*----------------2nd heading--------------*/
h3 {
  font-family:'Myriad W01 SmBd';
  text-align: left;
  color: @cathay-green;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  em,i{
    font-family:'Myriad W01 SmBd It';
  }
  strong{
    font-family: 'Myriad W01 Bd';
    font-weight: normal;
  }
}

/*----------------3rd heading--------------*/
h4 {
  font-family:'Myriad W01 SmBd';
  text-align: left;
  color: @gray-light;
  font-size: 15.5px;
  strong{
    font-family: 'Myriad W01 Bd';
    font-weight: normal;
  }
}

h5{
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 15px;
}

.wrap{

  .main{
    position: relative;
    /*background-color: #F4F4F4;*/
  }
}

/*---------------------------footer----------------------------------------*/
.footer{
  width: 100%;
  display:inline-block;
  padding-bottom: 20px;

  .footer-logo{
    margin-bottom: 15px;
  }
  .copyright{
    font-size: 0.7em;
    text-align: left;
  }
  img{
    display:block;
  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
}

/*---------------------------Content page----------------------------------------*/
.wrap{

.main{

  .page-header{
    margin: 25px 0 20px;
    padding-bottom: 0;
    color: @cathay-green;
    border-bottom: none;

    .title-parent{
      font-size: 19px;
      margin-bottom: 10px;
      color: @cathay-green;
    }
  }

  .content-container{
    margin-bottom: 10px;
    margin-top: 20px;

    h2{
      font-family:'Myriad W01 SmBd';
      margin-top: 30px;

      em{
        font-family:'Myriad W01 SmBd It';
        font-style: normal;
      }
    }

    h3{
      font-family:'Myriad W01 SmBd';
      margin-top: 30px;
    }

    p,li{
      line-height: 170%;
    }

    .intro{
      font-size: 18px;
      line-height: 150%;
      strong{
        font-family:'Myriad W01 Regular';
        font-weight: normal;
      }
    }

    img{
      margin-bottom: 20px;
    }

    li{
      margin-bottom: 5px;

      .list-container{
        color: @gray-dark;
      }
    }

    .figure-triangle{
      position:relative; top:-10px; margin:0 2px 0 4px; width:6px;margin-bottom: 0;
    }

    .caption{
      margin-top: -15px;
      font-family: 'Myriad W01 It';
    }

    .factsheet-link{
      i{
        font-size: 12px;
        margin-left: 3px;
      }
    }

    .list-with-h3-heading{
      font-size: 17px;
      font-family: 'Myriad W01 SmBd';
    }

    blockquote {
      padding: 0 0 0 10px;
      border-left: 5px solid @gray-lighter;

      p{
        color: @gray;
        font-size: 16px;
        line-height: 130%;
      }
    }

    .quote-source{
      color: @gray-dark;
      margin-top: -10px;
      font-size: 14px;
      line-height: 120%;
    }

    .note-link{
      font-size: 60%;
      top: -0.5em;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }

    .note-container{
      strong{
        font-weight: normal;
      }
      p,li .list-container,ol,ul{
        font-size: 13px;
        color: @gray-light;
        font-family:'Myriad W01 SmBd';
        margin: 0;
        line-height: 120%;
      }
      li{
        margin: 0;
      }
      ol,ul{
        padding-left: 17px;
      }
    }

    .colTable{
      .col1 {
        color: #FFFFFF;
        text-align: left;
      }
      tr th{
        padding: 5px 15px 5px 10px;
        vertical-align: bottom;
        border-top: 3px solid #57585b;
      }
      tr td{
        line-height: 1.6;
      }
      .col2,.col3,.col4 {
        background-color: #d0d2d2;
        text-align: right;
      }

    }

    .figureTable{
      background-color:#F6EBEB; 
      margin-bottom:15px; 
      padding:5px;
      border-bottom: 5px solid #797776;

      ul{
        padding: 0;

        li{
          list-style:outside disc;
          margin-left:15px;

          .list-container{
            color: @gray;
          }
        }
      }

      .figure{
        border-bottom: 1px solid #FFF;
        padding: 5px;
        color: #6F6F6E;
        font-family: 'Myriad W01 SmBd';
        display: block;
        text-align: left;
        line-height: 150%;

        span{
          font-size: 150%;
          font-family: 'Myriad W01 SmBd';
          /*color: #AE3F4E;*/
        }
      }
    }

    .commitmentsBoxContainer{
      padding-bottom:15px;
      position:relative;
      width: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
      margin-bottom: 0;
      border-bottom: 5px solid #8a8a8a;

      h3{
        margin: 0;
        font-size: 15px;
        text-transform: uppercase;
        color: #fff!important;
        padding: 8px 0 8px 45px;
        font-family: 'Myriad W01 Regular';
        margin-bottom: 10px;
        margin-top: 0;
      }

      .commitmentsBoxMid{/*width:576px;*/ padding: 0 20px 0 25px;}
      .commitmentsBoxMid ul.bullet{margin: 5px 0 0px;}
      .commitmentsBoxMid ul.bullet li{color:#575757; font-family:'Myriad W01 SmBd';}

      .colTable{
        th{
          text-align: left;
          border-top: 3px solid #000;
        }
        tr{
          td,th{font-size: 95%;}
        }
        .col2,.col3,.col4,.col5{
          background-color: #5d5d5d;
          color: #fff;
        }
      }
    }

    .commitments2020BoxContainer{
      td{
        p{
          margin-left: 40px;
          margin-bottom: 0;
        }
        .icon-acheived,.icon-onplan,.icon-offplan{
          float: left;
        }
      }
    }

    .container-with-scroll{
      width: 100%;
      /*margin-bottom: 15px;*/
      overflow-y: hidden;
      overflow-x: scroll;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
      -webkit-overflow-scrolling: touch;
    }

    .img-container-with-scroll{
      width: 100%;
      /*margin-bottom: 15px;*/
      overflow-y: hidden;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
    }

    .timeline-container{
      /*background: transparent url(../img/timeline-line-sourcing.png) 10px top repeat-y;
      border-bottom: 5px solid #8a8a8a;*/
      margin-bottom: 40px;
      border-bottom: 5px solid #8a8a8a;

      h3{
        /*background-color: @bio-purple;
        background-color: #a27c50;*/
        color: #fff!important;
        padding: 10px 10px;
        font-family:'Myriad W01 Regular';
        margin-bottom: 0px;
        margin-top: 0!important;
      }

      dl{
        margin-bottom: 0px;

        div{
          /*background-color: #ece5dc;
          color: @bio-purple;*/

          &:nth-child(2n+1){
            background-color: #f8f8f8;
            color: @gray-dark;
            dt{
              color: #736E6E;
            }
          }

          div{
            background-color: transparent!important;
            color: @gray-dark!important;

            &.dd-left{
              font-family:'Myriad W01 SmBd';
            }

            &.dd-right{
              margin-bottom: 8px;
            }
          }

          dt{
            font-family:'Myriad W01 Lt';
            font-weight: normal;
            font-size: 170%;
            /*background: transparent url(../img/timeline-dot-sourcing.png) 10px top no-repeat*/;
            padding: 5px 10px 0 25px;
          }

          dd{
            /*background: transparent url(../img/timeline-line-sourcing.png) 10px top repeat-y;*/
            padding: 5px 10px 10px 25px;
            line-height: 130%;
            color: @gray-dark;

            p{
              line-height: 130%;
              margin-bottom: 0.5em;
              color: @gray-dark;
            }
          }
        }
      }

      .timeline-bottom{
        background-color: #8a8a8a;
        padding: 5px 10px 5px 25px;

        p,li{
          color: #fff;
          margin-bottom: 0;
        }
        li{
          .list-container{
            color: #fff;
          }
        }
      }
    }

    .timeline-container-with-bottom-text{
      border-bottom: none;
    }

    .knowMoreContainer {
      padding: 10px 20px;
      background-color: #eeeeee;
      font-size: 90%;
      margin-top: 40px;
      margin-bottom: 40px;
      ul{
        padding-left: 17px;
      }
      p{
        font-size: inherit;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }

    .award-container{
      padding: 0;
      h3{
       margin: 0;
        font-size: 15px;
        text-transform: uppercase;
        color: #fff!important;
        padding: 8px 0 8px 45px;
        font-family:'Myriad W01 Regular';
      }

      .row{
        margin: 0;
        padding: 10px;
        margin-bottom: 2px;

        div{
          padding: 0;
        }
      }

      ul{
          padding-left: 20px;
          margin-bottom: 0;
          list-style-type: none;
          padding: 0;

          li{
            line-height: 130%;
          }

          .list-container{
            font-size: 90%;
            /*font-family:'Myriad W01 SmBd';*/

            ul{
              font-size: 110%;
              list-style-type: disc;
              padding-left: 1.2em;
            }

            strong{
              font-family:'Myriad W01 SmBd';
              font-weight: normal;
              font-size: 110%;
            }
          }
        }  
    }

    .highlight-container{
      padding: 20px 20px 5px 20px;
      margin-bottom: 20px;

      &.row{
        padding: 0;

        div.col-left{
          border-bottom: 1px solid #fff;
        }
      }

      h4{
        font-size: 130%;
      }

      strong{
        font-size: 115%;
        font-family:'Myriad W01 SmBd';
        font-weight: normal;
      }
    }

    .two-col-with-gap{
      margin-bottom: 10px;
      
      .col-left{
        margin-bottom: 10px;
      }
    }

    .award-container{
      margin-bottom: 20px;
      border-bottom: 5px solid #8a8a8a;
    }

    .cx-award-container{
      h3{
        background: @cathay-green url(../img/icon-cx-award.png) 5px top no-repeat;
      }
      .row{
        background-color: #dbe8e7;
      }
      ul{
        color: @cathay-green!important;
      }
    }

    .ka-award-container{
      h3{
        background: #e3010f url(../img/icon-ka-award.png) 5px top no-repeat;
      }
      .row{
        background-color: #FDEBE3;
      }
      ul{
        color: #E3010F!important;
      }
    }

    .chartTitle{
      font-size: 16px;
      font-family: 'Myriad W01 SmBd';
      margin-bottom: 0;
    }
  }
}
}

#video-popup{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 9999;
  background-color: #333;
  padding: 30px 15px;

  .thumbnail{
    background-color: transparent;
    border: none;
    padding: 0;

    .caption{
      padding-left: 0;
      padding-right: 0;

      h3,p{
        color: #fff;
      }
      h3{
        font-family:'Myriad W01 SmBd';
        margin-bottom: 5px;
      }
      a{
        display: block;
        /*margin-top: -10px;*/
        color: #fff;
      }
    }
  }

  #btn-close-video-popup{
    display: block;
    width: 100%;
    height: 42px;
    background: url(../img/btn-video-close.png) center center no-repeat;
    background-color: #000;
    position: fixed;
    bottom: 0;
    text-indent: -9999px;
    margin-left: -15px;
  }
}


.video-banner-container{
  position: relative;
  margin-top: 95px;


  #video-loop{
    width: 100%;/*
    background: url('../img/video.jpg') no-repeat scroll 0% 0% / cover transparent;*/
  }

  .video-overlay {
    background: url('../img/video-overlay.png') repeat;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .video-banner-text-container{
    position: absolute;
    top: 10%;
    left: 15px;
    width: 60%;
    z-index: 1;

    p{
      font-size: 110%;
      font-family: 'Myriad W01 Bd';
      color: #fff;
      line-height: 120%;
      margin-bottom: 0;
    }

    .btn-video-watch{
      background: transparent url(../img/btn-watch-video.png) no-repeat;
      width: 135px;
      height: 43px;
      display: block;
      /*text-indent: -9999px;*/
      margin-top: 10px;
      font-family: 'Myriad W01 SmBd';
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 12px 0 0 15px;
    }

    .btn-video-play{
      background: transparent url(../img/btn-play-video.png) no-repeat;
      width: 135px;
      height: 43px;
      display: block;
      /*text-indent: -9999px;*/
      margin-top: 10px;
      font-family: 'Myriad W01 SmBd';
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 12px 0 0 15px;
    }
  }
}

.factsheet-container{
  margin-bottom: 20px;
    h3{
      font-size: 13px;
      color: #7f7f7f;
      text-transform: uppercase;
      background-color: #eeeeee;
      padding: 7px;
      margin-bottom: 5px;

      a{
        color: #7f7f7f;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }

      i{
        margin-left: 5px;
      }
    }
    ul{
      background-color: #eeeeee;
      list-style-type: none;
      padding: 10px 7px 3px;

      li{
        margin-bottom: 7px;
        font-size: 13px;

        a{
          color: #7f7f7f;
          text-decoration: none;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  .bottom-next-page-container{
    margin-bottom: 40px;
    margin-top: 30px;

    i{
      color: #7a7a7a;
    }
  }

  .bottom-factsheet-container{
    margin-bottom: 20px;
    h3,a{
      color: #7f7f7f!important;
      line-height: 130%;
    }
    h3{
      a{
        color: #7f7f7f!important;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

/*---------------------------section specific style----------------------------------------*/
body#child-of-making-the-connection{

  .btn-enlarge-making{
    background: transparent url(../img/btn-enlarge-making.png) no-repeat;
    right:15px;
    &:hover{
      background-position: -131px 0;
    }
  }
    .page-header{
      h1,.title-parent{
        color: @cathay-green;
      }
     }
    .content-container{
      h1, h2, h3, h4, ol, a{
        color: @cathay-green;
      }

      .knowMoreContainer{
        border-top: 5px solid @cathay-green;
      }

      .commitmentsBoxContainer{
        background-color: #e8edee;
        /*border-left: 1px solid @climate-blue;
        border-right: 1px solid @climate-blue;*/
        border-top: none;

        h3{
          background: @cathay-green url(../img/icon_connection_commit.png) left top no-repeat;
        }

        .col1{
          border-top: 3px solid @cathay-green;
          background-color: #8ea4a9;
        }

        tr{
          th,td{
            border-left: 3px solid #e8edee;
          }

          td{
            border-bottom: 1px solid @cathay-green;
            border-top: none;
          }
        }
      }

      .sustainability-commitments-container{
        background-color: #eeeeee;
        margin-top: 10px;
        padding: 10px 10px 10px 30px;

        ul{
          list-style-type: none;
          margin-bottom: 0;
          padding-left: 0;
          li{
            display: inline-block;
            margin-right: 40px;
            margin-bottom: 0;
            span{
              margin-right: 10px;
            }
          }
        }
      }
    }
 }

 body#child-of-2013-progress{
    .page-header{
      h1,.title-parent{
        color: @progress-red;
      }
     }
    .content-container{
      h1, h2, h3, h4, ol, ul, a, .highlight, .intro{
        color: @progress-red;
      }

      .knowMoreContainer{
        border-top: 5px solid @progress-red;
      }

      .btn-enlarge{
        display: none;
      }

      /*.colTable tr.totalTD td, .colTable tr:hover td { background-color: #E6E7E9; }*/
      /*.colTable tr.totalTD td,
      .colTable tr.total-row td,*/
      .colTable tr:hover td {background-color: #E6E7E9;}
      .colTable tr.totalTD td,
      .colTable td.totalTD,
      .colTable tr.total-row td{font-weight: bold;background-color: #E6E7E9}
      .colTable tr th.col1{ background-color: #dcb9b8; color: #51131f;border-top: 3px solid #a84553;}
      .colTable .subheading,.colTable .subtitle{color: #a84553;}
      .colTable tr td{ border-bottom: 1px solid #dcb9b8; }
      .colTable tr td.noborder{border:none!important;}
      .colTable tr td.noborderRight{border-right:none!important;}
      .colTable tr td.noborderBottom{border-bottom:none!important;}
      .colTable tr.last td { border-bottom: 2px solid #dcb9b8; }
      .colTable tr td.subtitle {/*color:#dcb9b8; */font-family: 'Myriad W01 Bd';}
      .colTable tbody>tr>td{border:none;border-left: 3px solid #fff;background-color: #f7f7f8;border-bottom: 1px solid #e3cacf;}
      .colTable tbody>tr.total-row>td,.colTable tbody>tr.totalTD>td{border-bottom: 1px solid #b76671;border-top: 1px solid #b76671;border-right: 1px solid #b76671;}
      .colTable tbody>tr>th{border-left: 3px solid #fff;}

      .fleetProfileTable{
        font-family:'Myriad W01 Sm Cnd';
        strong{font-family:'Myriad W01 Bd Cnd';}
        td{ text-align:right; padding:0 5px !important; border-right: 1px solid #AA4354;}
        td.alignLeft{text-align:left !important;}
        td.flightHeader{background:#F6EBEB;}
        tbody>tr>td{
          border-left: 1px solid #e3cacf;
          &:first-of-type{
            border-left: none;
          }
        }
        tbody>tr>th{border-left: none;}
      }

      .commitmentsBoxContainer{
        background-color: #F6EBEB;
        /*border-left: 1px solid @climate-blue;
        border-right: 1px solid @climate-blue;*/
        border-top: none;

        h3{
          background: @progress-red url(../img/icon_progress_commit.png) left top no-repeat;
        }

        .colTable{
          .col1{
            border-top: 3px solid @progress-red;
            background-color: #dcb9b8;
          }
          .col2{
            background-color: #d0d2d2;
            border-top: 3px solid #57585b;
            color: @gray-dark;
          }

          tr{
            th,td{
              border-left: 3px solid #F6EBEB;
            }

            td{
              border-bottom: 1px solid @progress-red;
              border-top: none;
            }
          }
        }
      }
    }
 }

 body#child-of-safety{
    .page-header{
      h1,.title-parent{
        color: @safety-green;
      }
     }
    .content-container{
      h1, h2, h3, h4, ol, a, .intro{
        color: @safety-green;
      }

      .knowMoreContainer{
        border-top: 5px solid @safety-green;
      }

      .commitmentsBoxContainer{
        background-color: #f6f4e9;
        /*border-left: 1px solid @safety-green;
        border-right: 1px solid @safety-green;*/
        border-top: none;

        h3{
          background: @safety-green url(../img/icon-commit-safety.png) left top no-repeat;
        }

        .col1{
          border-top: 3px solid #9f9835;
        }

        tr{
          th,td{
            border-left: 3px solid #f6f4e9;
          }

          td{
            border-bottom: 1px solid #d3ca90;
            border-top: none;
          }
        }
      }
    }
 }

 body#child-of-climate-change{
    .page-header{
      h1,.title-parent{
        color: @climate-blue;
      }
     }
    .content-container{
      h1, h2, h3, h4, ol, ul, a, .intro{
        color: @climate-blue;
      }

      .knowMoreContainer{
        border-top: 5px solid @climate-blue;
      }

      .highlight-container{
        background-color: #EDF1FA;
      }

      .timeline-container{
        background: transparent url(../img/timeline-line-climate.png) 10px top repeat-y;
        /*border-bottom: 5px solid #8a8a8a;*/

        h3{
          background-color: @climate-blue;
          /*color: #fff;
          padding: 10px 10px;
          font-family:'Myriad W01 Regular';
          margin-bottom: 0px;
          margin-top: 0;*/
        }

        dl{
          /*margin-bottom: 0px;*/

          div{
            background-color: #e7ebf9;
            color: @climate-blue;

            &:nth-child(2n+1){
              background-color: #f8f8f8;
              color: @gray-dark;
              dt{
                color: #736E6E;
              }
            }

            dt{
              /*font-family:'Myriad W01 Lt';
              font-weight: normal;
              font-size: 170%;*/
              background: transparent url(../img/timeline-dot-climate.png) 10px top no-repeat;
             /* padding: 5px 10px 0 25px;*/
            }

            dd{
              background: transparent url(../img/timeline-line-climate.png) 10px top repeat-y;
              /*padding: 5px 10px 10px 25px;
              line-height: 130%;*/

              /*p{
                line-height: 130%;
                margin-bottom: 0.5em;
                color: @gray-dark;
              }*/
            }
          }
        }
      }

      .commitmentsBoxContainer{
        background-color: #EDF1FA;
        /*border-left: 1px solid @climate-blue;
        border-right: 1px solid @climate-blue;*/
        border-top: none;

        h3{
          background: @climate-blue url(../img/icon_climate_commit.png) left top no-repeat;
        }

        .col1{
          border-top: 3px solid @climate-blue;
          background-color: #A4BDE3;
        }

        tr{
          th,td{
            border-left: 3px solid #EDF1FA;
          }

          td{
            border-bottom: 1px solid #2484c6;
            border-top: none;
          }
        }

        .industryCommitmentsTable{
          td{color:#575555;border-left: 3px solid #EDF1FA;}
          td.yearTD{color:#217FC3; font-size:120%;font-family: 'Myriad W01 SmBd';vertical-align: top;padding-right: 10px;}
        }
      }

      .emissionsTable{
        width: 100%; background:#EDF1FA;
        margin-bottom: 20px;

        .emissionItemLeft{float:left; width:50%; border-right:5px solid #FFF;}
        .emissionItemRight{float:left; width:50%;}
        .scopeHeader{background:#CAD7EF; color:#565656; text-transform:uppercase; font-family: 'Myriad W01 SmBd'; padding-left:15px;border-top: 3px solid @climate-blue;}
        .contentDiv{padding:10px 5px;border-bottom: 1px solid @climate-blue;min-height: 117px;}
        .mainFigure,.fuelBurnTable .mainFigure{font-size:180%; color:#2281C4; font-family: 'Myriad W01 SmBd';line-height: 100%;margin-bottom: 0.1em;}
        .mainFigure .percentage{font-family:'Myriad W01 Regular' !important; font-size:80%; padding:0 0 0 11px; display:block; line-height: 100%;}
        .figureDetail{display:block; padding-left:15px; font-size: 100%;font-family: 'Myriad W01 Lt';line-height: 120%;}
      }

      .fuelBurnTable{
        background-color: #EDF1FA;
        padding: 10px;
        border-bottom: 1px solid @climate-blue;
        margin-bottom: 20px;
        border-top: 3px solid #2484c6;

        .mainFigure{
          font-size: 310%;
          font-family: 'Myriad W01 SmBd';
          line-height: 100%;
          color: @climate-blue;
        }
        .unit{
          font-family: 'Myriad W01 SmBd';
          font-size: 132%;
          line-height: 100%;
          font-weight: normal;
          color: @climate-blue;
          margin: 0;
        }
        p{
          margin-bottom: 0;
        }
      }
    }
 }

 body#child-of-waste-management{
    .page-header{
      h1,.title-parent{
        color: @waste-green;
      }
     }
    .content-container{
      h1, h2, h3, h4, ol, ul, a, .intro{
        color: @waste-green;
      }

      .knowMoreContainer{
        border-top: 5px solid @waste-green;
      }

      .highlight-container{
        background-color: #EDF1FA;
      }

      .commitmentsBoxContainer{
        background-color: #fbfbfb;
        /*border-left: 1px solid @waste-green;
        border-right: 1px solid @waste-green;*/
        border-top: none;

        h3{
          background: @waste-green url(../img/icon_waste_commit.png) left top no-repeat;
        }

        .col1{
          border-top: 3px solid @waste-green;
          background-color: #b3cfb9;
        }

        .col2, .col3, .col4, .col5{
          background-color: #b1b2b3;
        }

        tr{
          th,td{
            border-left: 3px solid #fbfbfb;
          }

          th{
            color: @gray-dark;
          }

          td{
            border-bottom: 1px solid @waste-green;
            border-top: none;
          }
        }
      }
    }
 }

  body#child-of-sustainable-sourcing{
    .page-header{
      h1,.title-parent{
        color: @sourcing-brown;
      }
     }
    .content-container{
      h1, h2, h3, h4, ol, ul, a, .intro{
        color: @sourcing-brown;
      }

      .knowMoreContainer{
        border-top: 5px solid @sourcing-brown;
      }

      .highlight-container{
        background-color: #EDF1FA;
      }

      .timeline-container{
        background: transparent url(../img/timeline-line-sourcing.png) 10px top repeat-y;
        /*border-bottom: 5px solid #8a8a8a;
*/
        h3{
          background-color: @sourcing-brown;
          /*color: #fff;
          padding: 10px 10px;
          font-family:'Myriad W01 Regular';
          margin-bottom: 0px;
          margin-top: 0;*/
        }

        dl{
          /*margin-bottom: 0px;*/

          div{
            background-color: #ece5dc;
            color: @sourcing-brown;

            &:nth-child(2n+1){
              background-color: #f8f8f8;
              color: @gray-dark;
              dt{
                color: #736E6E;
              }
            }

            dt{
              /*font-family:'Myriad W01 Lt';
              font-weight: normal;
              font-size: 170%;*/
              background: transparent url(../img/timeline-dot-sourcing.png) 10px top no-repeat;
             /* padding: 5px 10px 0 25px;*/
            }

            dd{
              background: transparent url(../img/timeline-line-sourcing.png) 10px top repeat-y;
              /*padding: 5px 10px 10px 25px;
              line-height: 130%;*/

              /*p{
                line-height: 130%;
                margin-bottom: 0.5em;
                color: @gray-dark;
              }*/
            }
          }
        }
      }

      .commitmentsBoxContainer{
        background-color: #fbfbfb;
        /*border-left: 1px solid @sourcing-brown;
        border-right: 1px solid @sourcing-brown;*/
        border-top: none;

        h3{
          background: @sourcing-brown url(../img/icon_sourcing_commit.png) left top no-repeat;
        }

        .col1{
          border-top: 3px solid @sourcing-brown;
          background-color: #c5a883;
        }

        .col2, .col3, .col4, .col5{
          background-color: #b1b2b3;
        }

        tr{
          th,td{
            border-left: 3px solid #fbfbfb;
          }

          th{
            color: @gray-dark;
          }

          td{
            border-bottom: 1px solid @sourcing-brown;
            border-top: none;
          }
        }
      }
    }
 }

 body#child-of-biodiversity{
    .page-header{
      h1,.title-parent{
        color: @bio-purple;
      }
     }
    .content-container{
      h1, h2, h3, h4, ol, ul, a, .intro{
        color: @bio-purple;
      }

      .knowMoreContainer{
        border-top: 5px solid @bio-purple;
      }

      .highlight-container{
        background-color: #EDF1FA;
      }

      .timeline-container{
        background: transparent url(../img/timeline-line-sourcing.png) 10px top repeat-y;
        /*border-bottom: 5px solid #8a8a8a;*/

        h3{
          background-color: @bio-purple;
          background-color: #a27c50;
          color: #fff;
          padding: 10px 10px;
          font-family:'Myriad W01 Regular';
          margin-bottom: 0px;
          margin-top: 0;
        }

        dl{
          margin-bottom: 0px;

          div{
            background-color: #ece5dc;
            color: @bio-purple;
            /*margin-bottom: 3px;*/

            &:nth-child(2n+1){
              background-color: #f8f8f8;
              color: @gray-dark;
              dt{
                color: #736E6E;
              }
            }

            dt{
              font-family:'Myriad W01 Lt';
              font-weight: normal;
              font-size: 170%;
              background: transparent url(../img/timeline-dot-sourcing.png) 10px top no-repeat;
              padding: 5px 10px 0 25px;
              /*color: @bio-purple;*/

              /*&:nth-child(4n+1),&:nth-child(4n+2){
                background-color: #f8f8f8;
                color: #736E6E;
              }*/

              /*&:nth-child(2n){
                background-color: #f8f8f8;
              }*/
            }

            dd{
              background: transparent url(../img/timeline-line-sourcing.png) 10px top repeat-y;
              padding: 5px 10px 10px 25px;
              line-height: 130%;

              /*&:nth-child(4n+1),&:nth-child(4n+2){
                background-color: #f8f8f8;
              }*/

              p{
                line-height: 130%;
                margin-bottom: 0.5em;
                color: @gray-dark;
              }

              /*&:nth-child(2n){
                background-color: #f8f8f8;
              }*/
            }
          }
        }
      }

      .commitmentsBoxContainer{
        background-color: #fbfbfb;
        /*border-left: 1px solid @bio-purple;
        border-right: 1px solid @bio-purple;*/
        border-top: none;

        h3{
          background: @bio-purple url(../img/icon_biodiversity_commit.png) left top no-repeat;
        }

        .col1{
          border-top: 3px solid @bio-purple;
          background-color: #9b8a9c;
        }

        .col2, .col3, .col4, .col5{
          background-color: #b1b2b3;
        }

        tr{
          th,td{
            border-left: 3px solid #fbfbfb;
          }

          th{
            color: @gray-dark;
          }

          td{
            border-bottom: 1px solid @bio-purple;
            border-top: none;
          }
        }
      }
    }
 }

 body#child-of-our-people{
    .page-header{
      h1,.title-parent{
        color: @people-orange;
      }
     }
    .content-container{
      h1, h2, h3, h4, ol, ul, a, .intro{
        color: @people-orange;
      }

      .knowMoreContainer{
        border-top: 5px solid @people-orange;
      }
    }
  }

  body#child-of-others{
    .page-header{
      h1,.title-parent{
        color: @others;
      }
     }
    .content-container{
      h1, h2, h3, h4, ol, ul, a, .intro{
        color: @others;
      }

      .abbrContainer{
        /*background-color: #EDF1FA;*/
        /*border-left:1px solid @climate-blue;
        border-right: 1px solid @climate-blue;*/
        border-top: none;

        h3{
          background-color: @others;
          color: #fff!important;
          padding: 10px 10px;
          font-family: 'Myriad W01 Regular';
          margin-bottom: 0px;
          margin-top: 0!important;
        }

        dl{
          border-bottom: 5px solid #8a8a8a;
          dt{
            padding: 10px;
            text-align: left;
            padding-bottom: 0!important;
          }
          dd{
            border-bottom: 1px solid @others;
            padding: 10px;
            padding-top: 0!important;
          }
        }
      }
    }
  }

  body.video-gallery{

    .content-container{

      h2{
        border-top: 1px solid @others;
        padding-top: 15px;
      }

      .thumbnail{
        position: relative;

        .gallery-img-container{
          position: relative;

          .btn-gallery-play{
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -46px;
            margin-top: -46px;
            width: 93px;
            height: 93px;
            background: url(../img/btn-video-gallery-play.png) no-repeat;
            text-indent: -999px;
          }
        }

        .caption{
          background-color: #f6f5f5;
          padding: 15px 10px 10px!important;
          /*min-height: 110px;*/

          /*&.caption1{
            min-height: 215px;
          }
          &.caption2{
            min-height: 140px;
          }*/

          h3{
            font-weight: 700;
            margin-bottom: 0.3em;
            margin-top: 0;
          }
          p{
            font-size: 90%;
            line-height: 130%;
            margin-bottom: 0;
          }
        }
        
      }
    }
  }

  body.pdf-download{
    .content-container{
      .downloadControlContainer{margin:20px 0 0 0;}
      .downloadControlContainer .downloadSectionTitle{font-size:110%; font-family:'Myriad W01 SmBd'; color:#2B87A5;}
      .downloadControlContainer .topDiv{ width:862px; height:16px;}
      .downloadControlContainer .itemDiv{margin-bottom: 5px;background:#E5F1F5; padding:10px;}
      .downloadControlContainer .itemDiv .itemTitle{font-size:110%; font-family:'Myriad W01 SmBd'; float:left;}
      .downloadControlContainer .itemDiv .btn_item_dl{text-transform: uppercase;font-size: 75%;background-color: #6a6c6c;color: #fff!important;text-decoration: none;padding: 10px;display: inline-block;line-height: 100%; float:right;font-family:'Myriad W01 SmBd';}
      .downloadControlContainer .itemDiv .btn_item_dl i{margin-right: 5px;font-size: 14px;}
      .downloadControlContainer .itemDiv .btn_item_dl:hover{background-color: #8d8f92;}
      .downloadControlContainer .itemDiv .cartTitle{font-size:90%; font-weight: bold;color:#413F41; padding-bottom:5px;}
      .downloadControlContainer .itemDiv .cartTitle span{color:#2B875A;}
      .downloadControlContainer .itemDiv .cartCaption{display:block;  font-size: 80%;}
      .downloadControlContainer .firstItem{padding-top:0;}
      .downloadControlContainer .lastItem{border-bottom:none;margin-bottom: 0;}
      .downloadControlContainer .btmDiv{width:862px; height:17px;}
      .expandActive .sectionTitleDivContainer{background:#F1F1F2;}
      .expandActive .sectionTitleDivContainer:hover{background-image:none !important;}
      .expandActive .blueRoundContainerMid{background:#F1F1F2; padding-bottom:20px !important;}
      .sectionTitleContainer{border-bottom:1px solid #7F7F7F; position:relative;}
      .sectionTitleContainer .arrowBtn{position:absolute; bottom:0; width:100%; height:20px; /*background:url(../images/resources/bg_arrow_expand.png) no-repeat;*/ display:none;}
      .sectionTitleContainer .arrowBtn.active{background:url(../img/bg_arrow_expand.png) no-repeat center -90px !important; display:block !important; cursor:pointer;}
      .sectionTitleDivContainer{padding:7px 0;background:url(../img/bg_arrow_expand.png) no-repeat center 15px;}
      .sectionTitleDivContainer:hover{background-color: #F1F1F2;}
      /*.sectionTitleContainer:hover .arrowBtn{display:block;}*/
      .sectionTitleContainer .firstItem{border-top:1px solid #7F7F7F !important;}
      .sectionTitleContainer .lastItem{border-bottom:none !important;}
      .sectionTitleDiv{position:relative; cursor:pointer;}
      .sectionTitleDiv .btnActiveArrow{font-family:'Myriad W01 SmBd'; padding-left:10px; color:#221F1F; float:left;}
      .sectionTitleDiv .btnActiveArrow_active{font-family:'Myriad W01 SmBd'; font-size:16px; padding-left:10px; color:#221F1F; float:left;}
      .sectionTitleDiv .pdfSize{color:#221F1F; float:right; margin-right:10px;}
      .downloadCheckBox{float:left; position:relative; z-index:999;}
      .blueRoundContainerMid{padding:0; /*border-bottom:1px solid #7F7F7F;*/}
      .blueRoundContainerMid .sectionItem{padding:0px 0 0px 27px;}
      .blueRoundContainerMid .sectionItem .sectionTitle{float:left; font-size: 90%;padding-left:10px;}
      .blueRoundContainerMid .sectionItem .pdfSize{font-size: 80%; color:#212F1F; float:right; margin-right:10px;}
    }
  }

  body.report-archive{
    .content-container{
      .noMarginRight{margin-right:0px !important;}
      .reportArchiveItem{/* float: left; */padding: 15px 10px;/* width: 280px; *//* margin-right: 19px; */position: relative;/* margin-bottom: 15px; */border-top: 1px solid @others;
        &.last{
          border-bottom: 1px solid @others;
        }
      }
      .reportArchiveItem:hover{background-color:#F1F1F1;}
      .reportTitle{font-family:'Myriad W01 SmBd'; color:#221F1F; padding-bottom:8px;}
      .reportThumbnail{float:left;margin-bottom: 0!important;}
      .reportAccess{/* padding-left: 15px; */
        /* width: 50px; */
        float: right;
        position: absolute;
        /* height: 145px; */
        right: 10px;
        bottom: 0;}
      /*.reportAccess div{position:absolute; bottom:0;}*/
      .reportAccess div a{
          text-transform: uppercase;
          font-size: 75%;
          background-color: #6a6c6c;
          color: #fff!important;
          text-decoration: none;
          padding: 10px;
          display: inline-block;
          line-height: 100%;
          font-family: 'Myriad W01 SmBd';margin-bottom: 15px;
          display: block;

          i{
            margin-right: 5px;
            font-size: 14px;
          }
        }
      .reportAccess div a:hover{background-color: #8d8f92;}
    }
    
  }

/*---------------------------general----------------------------------------*/
.wrap{
  .main{
    .content-container{
      .thumbnail{
        padding: 0;
        border: none;
        img{
          margin-bottom: 10px;
        }
        .caption{
          margin-top: -10px;
          padding: 0;
          font-family: 'Myriad W01 Regular';
        }
      }
    }
  }
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  color: #000;
  display: none;
  font-size: 44px;
  right: 20px;
  z-index: 9999;
  opacity: 0.4;
}
.link-cathay{color:@cathay-green!important;}
.link-progress{color:@progress-red!important;}
.link-safety{color:@safety-green!important;}
.link-climate{color:@climate-blue!important;}
.link-waste{color:@waste-green!important;}
.link-sourcing{color:@sourcing-brown!important;}
.link-biodiversity{color:@bio-purple!important;}
.link-people{color:@people-orange!important;}

.btn-enlarge{
  display: block;
  width: 131px;
  height: 38px;
  text-indent: -9999px;
  position: absolute;
  right: 30px;
  top: 0;
  background: transparent url(../img/btn-enlarge.png) no-repeat;

  &:hover{
    background-position: -131px 0;
  }
}

.container-div{
  position: relative;
}

.btn-prev-page,.btn-next-page{
  i{
    color: #7a7a7a;
  }
  
  &:hover{
    i{
      color: #ababab;
    }
  }
}

.icon-acheived{
  display: inline-block;
  background: transparent url(../img/icon-achieved.png) no-repeat;
  height: 19px;
  width: 19px;
  top: 3px;
  position: relative;
  text-indent: -9999px;
}

.icon-onplan{
  display: inline-block;
  background: transparent url(../img/icon-onplan.png) no-repeat;
  height: 19px;
  width: 19px;
  top: 3px;
  position: relative;
  text-indent: -9999px;
}

.icon-offplan{
  display: inline-block;
  background: transparent url(../img/icon-offplan.png) no-repeat;
  height: 19px;
  width: 19px;
  top: 3px;
  position: relative;
  text-indent: -9999px;
}

.img-scrollable{
  overflow-y: hidden;
  overflow-x: auto;
}

.btn-share{
  color: #7f7f7f;
  text-decoration: none;
  font-size: 9.8px;
  text-transform: uppercase;
  background-color: #eeeeee;
  padding: 7px;
  border-radius: 4px;

  &:hover{
    background-color: #f5f5f5;
    color: #7f7f7f;
    text-decoration: none;

    i{
      color: #7f7f7f;
    }
  }

  i{
    font-size: 14px;
    margin-left: 5px;
  }
}
.no-padding{
  padding: 0!important;
}
.popover-link{
  &:hover{
  }
}
.popover-content{
  font-size: 15px;
  word-wrap: break-word;
  a{
    font-size: 15px;
  }
}
.popover-title{
  background-color: transparent;
  border-bottom: none;
  border-radius: 0;
  display:none;
  text-indent: -9999px;
}
small, .small, .note{
  font-size: 8px;
  line-height: 130%;
  word-break: break-word;
}
.note,.note li, .note li list-container{
  color: @gray-light;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
button.close{
  position: absolute;
  right: 10px;
  top: 5px;
}
.feature-link{font-size: 16px;}
.img-responsive{width:100%;}
.body-font-size{font-size: 15px!important;}
.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright, { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }
sup{font-size: 60%;}
.nowrap{white-space: nowrap;}
.noborder,.noborder td {border: none !important;}
.alignRight {text-align: right;}
.alignCenter {text-align: center;}
.normal-weight{font-weight: normal!important;}
.nobottomMargin{margin-bottom: 0!important;}
.nopadding{padding: 0!important;}
.image-bottom-padding{margin-bottom: 20px!important;}
.logo-container{
  margin: 20px 0!important;
  img{
    margin-right: 20px!important;
    margin-bottom: 20px!important;
  }
}